<% include ../partials/header%>

<h1>Login</h1>
<form action="/login" method="post">
  <input type="text" placeholder="Enter Username" name="username">
  <input type="password" placeholder="Enter Password" name="password">
  <input type="Submit">
</form>

  <button><a href="/google">Google</a></button>

<% include ../partials/footer%>
